/* font-family: 'Montserrat', sans-serif; light 300, regular 400, medium 500, extra bold 800, black 900;
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Work Sans', sans-serif; semi bold 600, bold 700 */
:root {
  --branding-color-1: #69c8df;
  --branding-color-2: #ffdf00;
  --branding-color-3: #ff00c7;
  --branding-color-4: #9eff00;
  --default-font-color: #3e3e3e;
  --default-font-family: "Montserrat";
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--default-font-color);
}

.hero {
  background-color: var(--branding-color-1);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 38px;
  color: #fff;
  margin-bottom: -40px;
}
.hero-h2 {
  font-family: "Stint Ultra Expanded";
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  margin: 0;
}

h1 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 190px;
  color: var(--branding-color-4);
  margin: 0;
}

h2 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 40px;
  margin-left: 150px;
}

h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 30px;
  padding: 10px 0 0;
}

.btn-branding {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 28px;
  background: #fff;
  border-radius: 5px;
  color: #69c8df;
  padding: 10px 21px;
  margin-top: 70px;
}

.about-headings {
  margin-top: 80px;
}

.about-heading {
  color: var(--branding-color-3);
}

.projects-heading {
  color: var(--branding-color-4);
}
.container-fluid {
}
.projects-row-primary {
  background-color: #f5f4f4;
  color: var(--default-font-color);
}

.projects-row-alt {
  background-color: #fff;
  color: var(--default-font-color);
}
